.buffer-button {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #168EEA;
    background-image: none;
    background-origin: padding-box;
    background-position: 0% 0%;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: #137DCF;
    border-bottom-left-radius: 31.5px;
    border-bottom-right-radius: 31.5px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: #137DCF;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #137DCF;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #137DCF;
    border-top-left-radius: 31.5px;
    border-top-right-radius: 31.5px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: rgba(255, 255, 255, 0.07) 0px 1px 0px 0px inset;
    box-sizing: border-box;
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-size: 15.4px;
    font-weight: 400;
    line-height: 21px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-decoration-color: #FFF;
    text-decoration-line: none;
    text-decoration-style: solid;
    text-shadow: rgba(0, 0, 0, 0.3) 0px 0px 1px;
    top: 0px;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    display: inline-block;
    text-align: center;
    display:block;
    margin: 30px auto;
}
.buffer-button a {
    color: #FFF;
    text-decoration: none;
}
